<div class="flex flex-col h-screen">
  <header class="bg-green-500 text-white py-4 flex flex-row justify-between items-stretch px-5">
    <div class="flex flex-row justify-start">
      <%= link_to admin_interface_url do%>
        <%= image_tag "logo.png", class: "w-10 h-10"%>
      <% end %>
      <h1 class="text-left text-2xl px-2 pt-2">Gaerdesmutte</h1>
    </div>
    <div class="flex flex-row justify-end">
      <% if @current_user.present? %>
        <span class="text-right pt-2"><%= @current_user.email %></span>
        <%= link_to "Logout", auth_logout_path, method: :get, class: "ml-4 pt-2" %>
      <% else %>
        <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
      <% end %>
    </div>
  </header>

  <div class="flex flex-1">
    <div class="w-1/6 bg-gray-50">
      <%= render @species %>
    </div>
    <%= turbo_frame_tag "species_show_area", class: "w-5/6 bg-gray-200 p-4 flex flex-col justify-center items-center" do %>
      <span>Stuff goes here...</span>
    <% end %>
  </div>
</div>
