<%= turbo_frame_tag "species_show_area", class: "w-5/6 bg-gray-100 p-4" do %>
  <div class="w-full justify-start h-12">
     <%= link_to "⬅️ Back", admin_interface_path, class: "font-bold rounded duration-150 bg-green-500 text-white hover:bg-green-700 py-2 pl-2 pr-4 ml-2" %>
  </div>
  <div class="w-full h-full">
    <div class="grid grid-cols-1 md:grid-cols-4 h-4/6 w-full">
      <%= turbo_frame_tag "new_fact", class: "px-2 pt-2" do %>
        <%= render partial: "new_fact", locals: { species: @species } %>
      <% end %>

      <%= render @species.facts.ordered %>
    </div>

    <% if @species.photos.any? %>
      <div class="h-2/6 w-full">
        <%= render partial: "carousel", locals: { photos: @species.photos } %>
      </div>
    <% end %>
  </div>
<% end %>
