<%= turbo_frame_tag "manage_area", class: "w-5/6 bg-gray-100 p-4 flex flex-col justify-center items-center" do %>
  <%= form_with model: @fact, builder: FormBuilders::TailwindFormBuilder, class: "w-2/3 flex flex-col my-4 items-center md:items-end" do |f| %>
    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_area :fact_en, label: { text: "Fact (EN)" }, class: "md:w-1/2" %>
    </div>

    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_area :fact_da, label: { text: "Fact (DA)" }, class: "md:w-1/2" %>
    </div>

    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.select :species, Species.pluck(:scientific_name), label: { text: "Species" }, class: "w-full md:w-1/2" %>
    </div>

    <%= f.submit "Save", class: "w-1/2 md:w-1/4" %>
  <% end %>
<% end %>
