<div class="flex flex-col h-screen">
  <header class="bg-green-500 text-white py-4 flex flex-row justify-between items-stretch px-5">
    <div class="flex flex-row justify-start">
      <%= image_tag "gaerdesmutte.jpg", class: "w-10 h-10"%>
      <h1 class="text-left text-2xl px-2 pt-2">Gaerdesmutte</h1>
    </div>
    <div class="flex flex-row justify-end">
      <% if @current_user.present? %>
        <span class="text-right pt-2"><%= @current_user.email %></span>
        <%= link_to "Logout", auth_logout_path, method: :get, class: "ml-4 pt-2" %>
      <% else %>
        <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false } %>
      <% end %>
    </div>
  </header>

  <div class="flex flex-col h-full">
    <div class="flex flex-1">
      <div class="w-1/6 bg-gray-200">
        <ul class="list-none">
          <% @facts.each do |fact| %>
            <li class="p-2">
              <%= render partial: "fact_card", locals: { fact: fact } %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="w-5/6 bg-gray-100 p-4">
        <h2>Content Area</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod?</p>
      </div>
    </div>
  </div>
</div>
